In [185]:
import pandas as pd
import numpy as np
import sklearn as sk

In [186]:
order_list = pd.read_csv(r'C:\Users\mattt\Documents\Spring 2024\STAT 4188\shipping_project\Dataset\Supply chain logisitcs problem - OrderList.csv', sep=',', encoding='ISO-8859-1')
freight_rates = pd.read_csv(r'C:\Users\mattt\Documents\Spring 2024\STAT 4188\shipping_project\Dataset\Supply chain logisitcs problem - FreightRates.csv', sep=',', encoding='ISO-8859-1')
wh_costs = pd.read_csv(r'C:\Users\mattt\Documents\Spring 2024\STAT 4188\shipping_project\Dataset\Supply chain logisitcs problem - WhCosts.csv', sep=',', encoding='ISO-8859-1')
wh_capacities = pd.read_csv(r'C:\Users\mattt\Documents\Spring 2024\STAT 4188\shipping_project\Dataset\Supply chain logisitcs problem - WhCapacities.csv', sep=',', encoding='ISO-8859-1')
products_per_plant = pd.read_csv(r'C:\Users\mattt\Documents\Spring 2024\STAT 4188\shipping_project\Dataset\Supply chain logisitcs problem - ProductsPerPlant.csv', sep=',', encoding='ISO-8859-1')
vmi_customers = pd.read_csv(r'C:\Users\mattt\Documents\Spring 2024\STAT 4188\shipping_project\Dataset\Supply chain logisitcs problem - VmiCustomers.csv', sep=',', encoding='ISO-8859-1')
plant_ports = pd.read_csv(r'C:\Users\mattt\Documents\Spring 2024\STAT 4188\shipping_project\Dataset\Supply chain logisitcs problem - PlantPorts.csv', sep=',', encoding='ISO-8859-1')

In [187]:
order_list.head()

,Order ID,Order Date,Origin Port,Carrier,TPT,Service Level,Ship ahead day count,Ship Late Day count,Customer,Product ID,Plant Code,Destination Port,Unit quantity,Weight
0,1447296447,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,808,14.30
1,1447158015,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,3188,87.94
2,1447138899,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,2331,61.20
3,1447363528,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,847,16.16
4,1447363981,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,2163,52.34

In [188]:
Left_join = pd.merge(order_list,  
                      products_per_plant,  
                      on ='Product ID', 
                      how ='left')

In [189]:
Left_join.head(50)

,Order ID,Order Date,Origin Port,Carrier,TPT,Service Level,Ship ahead day count,Ship Late Day count,Customer,Product ID,Plant Code_x,Destination Port,Unit quantity,Weight,Plant Code_y
0,1447296447,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,808,14.30,PLANT16
1,1447158015,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,3188,87.94,PLANT16
2,1447138899,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,2331,61.20,PLANT16
3,1447363528,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,847,16.16,PLANT16
4,1447363981,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,2163,52.34,PLANT16
5,1447351441,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,3332,92.80,PLANT16
6,1447320236,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,1782,46.90,PLANT16
7,1447158019,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,427,2.86,PLANT16
8,1447219341,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,1291,26.60,PLANT16
9,1447398416,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,2294,62.20,PLANT16
10,1447381679,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,2766,75.50,PLANT16
11,1447170785,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,798,14.30,PLANT16
12,1447155056,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1697884,PLANT16,PORT09,739,73.90,PLANT16
13,1447257265,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1697884,PLANT16,PORT09,280,7.80,PLANT16
14,1447240989,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1697884,PLANT16,PORT09,574,59.50,PLANT16
15,1447257231,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1697884,PLANT16,PORT09,556,52.70,PLANT16
16,1447260653,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1697884,PLANT16,PORT09,544,58.50,PLANT16
17,1447139375,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1697884,PLANT16,PORT09,1151,181.70,PLANT16
18,1447308590,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1697884,PLANT16,PORT09,1404,227.20,PLANT16
19,1447191271,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1697884,PLANT16,PORT09,662,74.10,PLANT16
20,1447191284,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1699336,PLANT16,PORT09,836,80.43,PLANT16
21,1447352426,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1702652,PLANT16,PORT09,2063,265.10,PLANT16
22,1447211829,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1699337,PLANT16,PORT09,2114,267.10,PLANT16
23,1447232833,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1699337,PLANT16,PORT09,2108,271.10,PLANT16
24,1447205081,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1699336,PLANT16,PORT09,1120,112.60,PLANT16
25,1447365980,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1702654,PLANT16,PORT09,706,61.80,PLANT16
26,1447157118,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1699336,PLANT16,PORT09,889,107.88,PLANT16
27,1447398413,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1702652,PLANT16,PORT09,1793,216.57,PLANT16
28,1447377319,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1702652,PLANT16,PORT09,491,27.81,PLANT16
29,1447257239,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1699337,PLANT16,PORT09,1044,112.60,PLANT16
30,1447368959,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1702653,PLANT16,PORT09,447,32.90,PLANT16
31,1447308591,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1699336,PLANT16,PORT09,328,13.36,PLANT16
32,1447398479,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1702652,PLANT16,PORT09,973,106.88,PLANT16
33,1447377316,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1702652,PLANT16,PORT09,1179,129.14,PLANT16
34,1447365993,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1702653,PLANT16,PORT09,814,74.25,PLANT16
35,1447223051,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1699336,PLANT16,PORT09,1464,171.22,PLANT16
36,1447260686,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1699337,PLANT16,PORT09,347,6.18,PLANT16
37,1447299202,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1699336,PLANT16,PORT09,771,77.25,PLANT16
38,1447330061,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1702652,PLANT16,PORT09,469,27.90,PLANT16
39,1447260670,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1699336,PLANT16,PORT09,382,15.45,PLANT16
40,1447157119,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1699337,PLANT16,PORT09,507,43.17,PLANT16
41,1447205082,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1699336,PLANT16,PORT09,419,16.45,PLANT16
42,1447398412,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1702654,PLANT16,PORT09,452,33.90,PLANT16
43,1447257238,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1699336,PLANT16,PORT09,486,24.72,PLANT16
44,1447241003,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1699336,PLANT16,PORT09,729,60.80,PLANT16
45,1447398481,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1702652,PLANT16,PORT09,366,19.54,PLANT16
46,1447398420,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1702653,PLANT16,PORT09,539,43.26,PLANT16
47,1447308592,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1699337,PLANT16,PORT09,304,9.27,PLANT16
48,1447241005,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1699337,PLANT16,PORT09,544,46.35,PLANT16
49,1447191288,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1699337,PLANT16,PORT09,679,65.80,PLANT16

In [190]:
#Left_join = Left_join.dropna(axis = 0)

In [191]:
#Left_join.head()

In [192]:
join_products_plants = pd.merge(products_per_plant, plant_ports, on = 'Plant Code', how = 'right')

In [193]:
join_products_plants.head()

  Plant Code  Product ID    Port
0    PLANT01   1654431.0  PORT01
1    PLANT01   1664406.0  PORT01
2    PLANT01   1664416.0  PORT01
3    PLANT01   1665542.0  PORT01
4    PLANT01   1665863.0  PORT01

In [194]:
join_all = pd.merge(order_list, join_products_plants, on = 'Plant Code', how = 'right')

In [195]:
join_all = join_all.dropna(axis = 0)

In [196]:
join_all.head(10)

,Order ID,Order Date,Origin Port,Carrier,TPT,Service Level,Ship ahead day count,Ship Late Day count,Customer,Product ID_x,Plant Code,Destination Port,Unit quantity,Weight,Product ID_y,Port
556,1.447307e+09,5/26/2013,PORT04,V44_3,4.0,CRF,0.0,0.0,V555555555555555_29,1699333.0,PLANT03,PORT09,1529.0,3.008251,1613321.0,PORT04
557,1.447307e+09,5/26/2013,PORT04,V44_3,4.0,CRF,0.0,0.0,V555555555555555_29,1699268.0,PLANT03,PORT09,1495.0,2.653360,1613321.0,PORT04
558,1.447393e+09,5/26/2013,PORT04,V44_3,4.0,CRF,0.0,0.0,V555555555555555_29,1699268.0,PLANT03,PORT09,899.0,1.326680,1613321.0,PORT04
559,1.447307e+09,5/26/2013,PORT04,V44_3,4.0,CRF,0.0,0.0,V555555555555555_29,1699268.0,PLANT03,PORT09,1437.0,2.653360,1613321.0,PORT04
560,1.447190e+09,5/26/2013,PORT04,V44_3,4.0,CRF,0.0,0.0,V555555555555555_29,1699584.0,PLANT03,PORT09,1914.0,5.940000,1613321.0,PORT04
561,1.447190e+09,5/26/2013,PORT04,V44_3,4.0,CRF,0.0,0.0,V555555555555555_29,1699584.0,PLANT03,PORT09,1956.0,5.940000,1613321.0,PORT04
562,1.447190e+09,5/26/2013,PORT04,V44_3,4.0,CRF,0.0,0.0,V555555555555555_29,1699584.0,PLANT03,PORT09,1964.0,5.940000,1613321.0,PORT04
563,1.447406e+09,5/26/2013,PORT04,V44_3,0.0,CRF,0.0,0.0,V555555555555555_29,1699584.0,PLANT03,PORT09,1961.0,5.940000,1613321.0,PORT04
564,1.447307e+09,5/26/2013,PORT04,V44_3,4.0,CRF,0.0,0.0,V555555555555555_29,1699584.0,PLANT03,PORT09,3624.0,11.820000,1613321.0,PORT04
565,1.447182e+09,5/26/2013,PORT04,V44_3,4.0,CRF,0.0,0.0,V555555555555555_29,1699562.0,PLANT03,PORT09,4802.0,8.892328,1613321.0,PORT04

In [197]:
order_ports = []
order_id = []

#for i in range (0, join_all.shape[0]):
#    order_id.append(join_all['Order ID'].loc[join_all.index[i]])

In [198]:
order_id

[]

In [199]:
order_ports.append(order_id)

In [200]:
order_list_simplified = order_list.drop(['Order Date', 'Origin Port', 'TPT', 'Service Level', 'Ship ahead day count', 'Ship Late Day count', 'Customer', 'Plant Code', 'Destination Port'], axis = 1)

Clean the data table 'Freight Rates'

In [201]:
def rate_remove_symbols(string):
    if isinstance(string, str):
        return string.replace("$", "")

In [202]:
def convert_to_float(string):
    if isinstance(string, str):
        return float(string)

In [203]:
freight_rates['rate'] = freight_rates['rate'].apply(rate_remove_symbols)
freight_rates['rate'] = freight_rates['rate'].apply(convert_to_float)

In [223]:
freight_rates

,Carrier,orig_port_cd,dest_port_cd,minm_wgh_qty,max_wgh_qty,svc_cd,minimum cost,rate,mode_dsc,tpt_day_cnt,Carrier type
0,V444_6,PORT08,PORT09,250.0,499.99,DTD,$ 43.23,0.71,AIR,2,V88888888_0
1,V444_6,PORT08,PORT09,65.0,69.99,DTD,$ 43.23,0.75,AIR,2,V88888888_0
2,V444_6,PORT08,PORT09,60.0,64.99,DTD,$ 43.23,0.79,AIR,2,V88888888_0
3,V444_6,PORT08,PORT09,50.0,54.99,DTD,$ 43.23,0.83,AIR,2,V88888888_0
4,V444_6,PORT08,PORT09,35.0,39.99,DTD,$ 43.23,1.06,AIR,2,V88888888_0
...,...,...,...,...,...,...,...,...,...,...,...
1535,V444_8,PORT03,PORT09,0.0,99.99,DTD,$ 29.34,0.41,AIR,0,V88888888_0
1536,V444_8,PORT03,PORT09,500.0,1999.99,DTD,$ 29.34,0.31,AIR,0,V88888888_0
1537,V444_8,PORT03,PORT09,250.0,499.99,DTD,$ 29.34,0.41,AIR,0,V88888888_0
1538,V444_8,PORT03,PORT09,2000.0,99999.99,DTD,$ 29.34,0.31,AIR,0,V88888888_0
1539,V444_8,PORT03,PORT09,100.0,249.99,DTD,$ 29.34,0.41,AIR,0,V88888888_0

In [205]:
freight_rates_simplified = freight_rates.groupby('Carrier').min().reset_index()

In [206]:
freight_rates_simplified = freight_rates_simplified.drop(['orig_port_cd', 'dest_port_cd', 'minm_wgh_qty', 'max_wgh_qty', 'svc_cd', 'minimum cost', 'mode_dsc', 'tpt_day_cnt', 'Carrier type'], axis = 1)

In [224]:
freight_rates_simplified

  Carrier    rate
0  V444_0    0.04
1  V444_1    0.07
2  V444_2    0.07
3  V444_4    0.10
4  V444_5    0.06
5  V444_6    0.64
6  V444_7  128.03
7  V444_8    0.03
8  V444_9    0.10

In [207]:
#order_list_freight_rates = pd.merge(order_list_simplified, freight_rates, how = 'outer')

In [208]:
order_list_freight_rates = pd.merge(order_list_simplified, freight_rates_simplified, how = 'outer')

In [209]:
order_list_freight_rates = order_list_freight_rates.dropna()

In [210]:
order_list_freight_rates

          Order ID Carrier  Product ID  Unit quantity      Weight  rate
0     1.447385e+09  V444_0   1692724.0          332.0    1.023143  0.04
1     1.447338e+09  V444_0   1692724.0          358.0    0.613886  0.04
2     1.447407e+09  V444_0   1692722.0          409.0   37.041956  0.04
3     1.447154e+09  V444_0   1692722.0          438.0   42.830667  0.04
4     1.447163e+09  V444_0   1692722.0          824.0  133.224269  0.04
...            ...     ...         ...            ...         ...   ...
8356  1.447305e+09  V444_1   1683388.0          339.0    2.354118  0.07
8357  1.447319e+09  V444_1   1683388.0          339.0    2.354118  0.07
8358  1.447322e+09  V444_1   1683388.0          245.0    0.294265  0.07
8359  1.447145e+09  V444_1   1683430.0          278.0    2.480000  0.07
8360  1.447328e+09  V444_1   1683424.0          317.0    1.960000  0.07

[8361 rows x 6 columns]

In [211]:
order_list_freight_rates['Total Cost'] = order_list_freight_rates['Unit quantity'] * order_list_freight_rates['rate']

In [212]:
order_list_freight_rates

,Order ID,Carrier,Product ID,Unit quantity,Weight,rate,Total Cost
0,1.447385e+09,V444_0,1692724.0,332.0,1.023143,0.04,13.28
1,1.447338e+09,V444_0,1692724.0,358.0,0.613886,0.04,14.32
2,1.447407e+09,V444_0,1692722.0,409.0,37.041956,0.04,16.36
3,1.447154e+09,V444_0,1692722.0,438.0,42.830667,0.04,17.52
4,1.447163e+09,V444_0,1692722.0,824.0,133.224269,0.04,32.96
...,...,...,...,...,...,...,...
8356,1.447305e+09,V444_1,1683388.0,339.0,2.354118,0.07,23.73
8357,1.447319e+09,V444_1,1683388.0,339.0,2.354118,0.07,23.73
8358,1.447322e+09,V444_1,1683388.0,245.0,0.294265,0.07,17.15
8359,1.447145e+09,V444_1,1683430.0,278.0,2.480000,0.07,19.46
8360,1.447328e+09,V444_1,1683424.0,317.0,1.960000,0.07,22.19

In [213]:
#from sklearn import tree

In [214]:
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error, mean_absolute_error 
from sklearn import preprocessing

In [215]:
# plotting a scatterplot 
#sns.scatterplot(x='Order ID', 
#				y='Unit quantity', data=order_list)

Encoding, assigning each categorical variable to a number

In [216]:
def encode_carrier(str):
    return float(str[5])

In [217]:
order_list_freight_rates['Carrier'] = order_list_freight_rates['Carrier'].apply(encode_carrier)

In [218]:
order_list_freight_rates

,Order ID,Carrier,Product ID,Unit quantity,Weight,rate,Total Cost
0,1.447385e+09,0.0,1692724.0,332.0,1.023143,0.04,13.28
1,1.447338e+09,0.0,1692724.0,358.0,0.613886,0.04,14.32
2,1.447407e+09,0.0,1692722.0,409.0,37.041956,0.04,16.36
3,1.447154e+09,0.0,1692722.0,438.0,42.830667,0.04,17.52
4,1.447163e+09,0.0,1692722.0,824.0,133.224269,0.04,32.96
...,...,...,...,...,...,...,...
8356,1.447305e+09,1.0,1683388.0,339.0,2.354118,0.07,23.73
8357,1.447319e+09,1.0,1683388.0,339.0,2.354118,0.07,23.73
8358,1.447322e+09,1.0,1683388.0,245.0,0.294265,0.07,17.15
8359,1.447145e+09,1.0,1683430.0,278.0,2.480000,0.07,19.46
8360,1.447328e+09,1.0,1683424.0,317.0,1.960000,0.07,22.19

Regression Model

In [220]:
# creating feature variables 

#all columns besides the column associated to the dependent variable
#this X is a vector
X = order_list_freight_rates.drop('Total Cost', axis=1) 
y = order_list_freight_rates['Total Cost'] 
  
print(X) 
print(y) 
  
# creating train and test sets 
X_train, X_test, y_train, y_test = train_test_split( 
    X, y, test_size=0.3, random_state=101) 
  
model = LinearRegression() 
model.fit(X_train, y_train) 
  
# making predictions 
predictions = model.predict(X_test)

          Order ID  Carrier  Product ID  Unit quantity      Weight  rate
0     1.447385e+09      0.0   1692724.0          332.0    1.023143  0.04
1     1.447338e+09      0.0   1692724.0          358.0    0.613886  0.04
2     1.447407e+09      0.0   1692722.0          409.0   37.041956  0.04
3     1.447154e+09      0.0   1692722.0          438.0   42.830667  0.04
4     1.447163e+09      0.0   1692722.0          824.0  133.224269  0.04
...            ...      ...         ...            ...         ...   ...
8356  1.447305e+09      1.0   1683388.0          339.0    2.354118  0.07
8357  1.447319e+09      1.0   1683388.0          339.0    2.354118  0.07
8358  1.447322e+09      1.0   1683388.0          245.0    0.294265  0.07
8359  1.447145e+09      1.0   1683430.0          278.0    2.480000  0.07
8360  1.447328e+09      1.0   1683424.0          317.0    1.960000  0.07

[8361 rows x 6 columns]
0       13.28
1       14.32
2       16.36
3       17.52
4       32.96
        ...
8356    23.73
8357    23.73
8358    17.15
8359    19.46
8360    22.19
Name: Total Cost, Length: 8361, dtype: float64

In [221]:
print('Mean squared_error : ', mean_squared_error(y_test, predictions)) 
print('Mean absolute_error : ', mean_absolute_error(y_test, predictions))

Mean squared_error :  16523.69085450243
Mean absolute_error :  9.365432744291232

In [229]:
order_list_freight_rates

,Order ID,Carrier,Product ID,Unit quantity,Weight,rate,Total Cost
0,1.447385e+09,0.0,1692724.0,332.0,1.023143,0.04,13.28
1,1.447338e+09,0.0,1692724.0,358.0,0.613886,0.04,14.32
2,1.447407e+09,0.0,1692722.0,409.0,37.041956,0.04,16.36
3,1.447154e+09,0.0,1692722.0,438.0,42.830667,0.04,17.52
4,1.447163e+09,0.0,1692722.0,824.0,133.224269,0.04,32.96
...,...,...,...,...,...,...,...
8356,1.447305e+09,1.0,1683388.0,339.0,2.354118,0.07,23.73
8357,1.447319e+09,1.0,1683388.0,339.0,2.354118,0.07,23.73
8358,1.447322e+09,1.0,1683388.0,245.0,0.294265,0.07,17.15
8359,1.447145e+09,1.0,1683430.0,278.0,2.480000,0.07,19.46
8360,1.447328e+09,1.0,1683424.0,317.0,1.960000,0.07,22.19

Selecting the minimum from each

In [233]:
minimum_cost_freight = order_list_freight_rates.groupby('Order ID').min().reset_index()

In [234]:
minimum_cost_freight

,Order ID,Carrier,Product ID,Unit quantity,Weight,rate,Total Cost
0,1.447126e+09,0.0,1660583.0,262.0,0.594476,0.04,10.48
1,1.447132e+09,0.0,1667927.0,52742.0,30.405274,0.04,2109.68
2,1.447133e+09,0.0,1678648.0,356.0,1.462970,0.04,14.24
3,1.447133e+09,0.0,1668492.0,610.0,7.676667,0.04,24.40
4,1.447133e+09,0.0,1683560.0,71330.0,670.588931,0.04,2853.20
...,...,...,...,...,...,...,...
8356,1.447425e+09,0.0,1660580.0,650.0,38.920000,0.04,26.00
8357,1.447425e+09,0.0,1660580.0,507.0,20.243584,0.04,20.28
8358,1.447425e+09,0.0,1660580.0,266.0,1.069088,0.04,10.64
8359,1.447425e+09,0.0,1660580.0,498.0,28.120000,0.04,19.92
8360,1.447425e+09,1.0,1692949.0,1629.0,6.487785,0.07,114.03